.folderCard{

padding:24px;

display:flex;

flex-direction:column;

gap:14px;

transition:.35s;

}

.folderCard:hover{

transform:translateY(-8px);

}

.folderTop{

display:flex;

justify-content:space-between;

align-items:center;

}

.folderIcon{

width:60px;

height:60px;

display:flex;

justify-content:center;

align-items:center;

border-radius:18px;

background:linear-gradient(135deg,#3B82F6,#8B5CF6);

font-size:28px;

color:white;

}

.moreIcon{

cursor:pointer;

color:var(--muted);

}

.folderCard h3{

font-size:22px;

color:white;

}

.folderCard p{

color:var(--text);

font-size:15px;

}

.folderCard span{

font-size:13px;

color:var(--muted);

}

.openBtn{

margin-top:auto;

display:flex;

align-items:center;

justify-content:center;

gap:8px;

padding:12px;

border:none;

border-radius:14px;

background:rgba(59,130,246,.12);

color:#60A5FA;

font-weight:600;

transition:.3s;

}

.openBtn:hover{

background:#3B82F6;

color:white;

}