.uploadModal{
    width:650px;
    padding:30px;
}

.dropZone{

margin:25px 0;

padding:50px;

border:2px dashed rgba(255,255,255,.15);

border-radius:22px;

text-align:center;

cursor:pointer;

transition:.3s;

}

.dropZone.active{

border-color:#3B82F6;

background:rgba(59,130,246,.08);

}

.dropZone button{

margin-top:20px;

padding:12px 25px;

border:none;

border-radius:14px;

background:linear-gradient(135deg,#3B82F6,#8B5CF6);

color:white;

}

.selectedFiles{

display:flex;

flex-direction:column;

gap:14px;

margin:25px 0;

}

.fileRow{

display:flex;

justify-content:space-between;

padding:14px;

background:rgba(255,255,255,.05);

border-radius:14px;

}

.uploadBtn{

width:100%;

padding:15px;

border:none;

border-radius:16px;

background:#3B82F6;

color:white;

font-size:16px;

font-weight:600;

}