.storageWidget{

width:320px;

padding:28px;

display:flex;

flex-direction:column;

align-items:center;

gap:24px;

}

.storageWidget h3{

font-size:22px;

font-weight:600;

}

.progressWrapper{

width:180px;

height:180px;

}

.storageInfo{

display:flex;

flex-direction:column;

align-items:center;

gap:6px;

}

.storageInfo p{

color:var(--text);

font-size:15px;

}

.storageInfo strong{

color:var(--white);

}

.upgradeBtn{

width:100%;

padding:15px;

border:none;

border-radius:16px;

background:linear-gradient(
135deg,
var(--primary),
var(--secondary)
);

color:white;

font-size:15px;

font-weight:600;

transition:.3s;

}

.upgradeBtn:hover{

transform:translateY(-3px);

box-shadow:

0 0 25px rgba(59,130,246,.35);

}