.footer{

margin-top:120px;

padding:60px 8% 30px;

border-top:1px solid rgba(255,255,255,.08);

}

.footerTop{

display:flex;

justify-content:space-between;

gap:60px;

flex-wrap:wrap;

}

.footerBrand{

max-width:320px;

}

.footerBrand h2{

font-size:32px;

margin-bottom:15px;

}

.footerBrand p{

color:#94A3B8;

line-height:1.7;

}

.footerLinks{

display:flex;

gap:70px;

flex-wrap:wrap;

}

.footerLinks div{

display:flex;

flex-direction:column;

gap:12px;

}

.footerLinks h4{

color:white;

margin-bottom:10px;

}

.footerLinks a{

display:flex;

align-items:center;

gap:10px;

text-decoration:none;

color:#94A3B8;

transition:.3s;

}

.footerLinks a:hover{

color:white;

}

.footerBottom{

margin-top:50px;

padding-top:20px;

text-align:center;

border-top:1px solid rgba(255,255,255,.05);

color:#64748B;

font-size:14px;

}