.header{
    height:70px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 30px;

    background:white;

    border-bottom:1px solid #E2E8F0;
}

.header_left h2{
    color:#2563EB;
}

.header_center{
    flex:1;
    display:flex;
    justify-content:center;
}

.header_center input{

    width:450px;

    padding:12px 20px;

    border-radius:30px;

    border:1px solid #CBD5E1;

    background:#F8FAFC;
}

.header_right{

    display:flex;

    gap:15px;
}

.header_right button{

    background:none;

    font-size:20px;
}